repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black etl/.
        types: [python]

      # - id: flake8
      #   name: flake8
      #   stages: [commit]
      #   language: system
      #   entry: flake8 .
      #   types: [python]
      #   exclude: setup.py

      # - id: pytest
      #   name: pytest
      #   stages: [commit]
      #   language: system
      #   entry: pipenv run pytest
      #   types: [python]